*.pyc
*.so
*.o
*~
.#*
ariadne_microns_pipeline.egg-info
ariadne_microns_pipeline/algorithms/*.cpp
ariadne_microns_pipeline/pipelines/scratchpipeline.py
build
archived/fc_dnn/src/run_dnn
archived/skeletonization/graph_extraction/main
archived/skeletonization/graph_extraction/LUT/LUT.txt
archived/skeletonization/graph_extraction/LUT/lutgen
neuroproof/sparsehash/.deps/
neuroproof/sparsehash/Makefile
neuroproof/sparsehash/config.log
neuroproof/sparsehash/config.status
neuroproof/sparsehash/hashtable_test
neuroproof/sparsehash/libc_allocator_with_realloc_test
neuroproof/sparsehash/libsparsehash.pc
neuroproof/sparsehash/simple_compat_test
neuroproof/sparsehash/simple_test
neuroproof/sparsehash/sparsetable_unittest
neuroproof/sparsehash/src/config.h
neuroproof/sparsehash/src/sparsehash/internal/sparseconfig.h
neuroproof/sparsehash/src/stamp-h1
neuroproof/sparsehash/template_util_unittest
neuroproof/sparsehash/time_hash_map
neuroproof/sparsehash/type_traits_unittest

